<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.java.androidfire">

    <uses-permission android:name="MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ZhuActivity" />
        <activity android:name=".ui.activity.AddActivity" />
        <activity android:name=".ui.activity.XiangQingActivity" />
        <activity android:name=".ui.activity.Gril_Activity" />
        <activity android:name=".ui.activity.WebView2Activity" />
        <activity android:name=".ui.activity.GuanyuActivity" />
        <activity android:name=".ui.activity.DongtaiActivity" />
        <activity android:name=".ui.activity.ShuoshuoActivity"></activity>
    </application>

</manifest>